<!DOCTYPE html>
<html> 
  <head>
    <meta charset="utf-8">

      <link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel = "stylesheet" href="/css/style.css">

    <title>Sinatra Blog</title> 
  </head>
  <body>
    <div class = "container-fluid">
      <head>
        <h1>Sinatra Blog</h1>
      </head>  
      <div class="table-responsive">
        <table class="table">
           <tr>
              <td>Titulo</td>
              <td>Fecha</td>
              <td>Texto</td>
          </tr>
            <% @my_blog.blogs.each do |post| %>
            <tr>
              <td><%="#{post.title}"%></td>
              <td><%="#{post.date.strftime("%x")}"%></td>
              <td><%="#{post.text}"%></td>
            </tr>  
          <% end %>
        </table>
      </div>
    </div> <!-- fin del container-fluid   -->
  </body>
</html>